<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
        <title>See solutions</title>
        <meta name="description" content="See solution to challenges.">
        <meta name="viewport" content="width=device-width, initial'scale=1">
    </head>
    <body>
        {% include 'partials/_control_pannel.html'%}
        <div>
            <table>
                <tr>
                    <th>Challenge title</th>
                    <th>Challenge description</th>
                    <th>Student's name</th>
                    <th>Student's answer</th>
                    <th>Right answer</th>
                </tr>
                <tr>
                    {% for var in solutions_list %}
                    <tr>
                        <td>{{ var.challenge.title }}</td>
                        <td>{{ var.challenge.description }}</td>
                        <td>{{ var.student_in_course.student.name }}</td>
                        <td>{{ var.answer }}</td>
                        <td>{{ var.challenge.answer }}</td>
                        {% if var.student_in_course.student.id in graded_students %}
                            <td><a href="#"><button disabled="true">Grade solution</button></a></td>
                        {% else %}
                            <td><a href="{% url 'gradeChallenge' %}?solution={{var.id}}"><button>Grade solution</button></a></td>
                        {% endif %}
                        
                    </tr>
                    {% endfor %}
                </tr>
            </table>
            <div>
                <a href="{% url 'Teacher home page' %}"><button>Go back to home page</button></a>
            </div>
        </div>
    </body>
</html>