<form method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Student login</h1>
    <p>Please, enter your email and password:</p>
    <div class="col">
        <div class="col">
            Email
        </div>
        <div class="col">
            {{form.email}}
        </div>
        <div class="col">
            Password
        </div>
        <div class="col">
            {{form.password}}
        </div>
    </div>
    <p></p>
    <button>Submit</button>
    <div class="col">
        <a href="{% url 'register' %}">No account? Sign up!</button></a>
    </div>

</form>