<form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col">
        <div class="col">
            Name
        </div>
        <div class="col">
            {{form.name}}
        </div>
        <div class="col">
            Parent's phone number
        </div>
        <div class="col">
            {{form.parentphonenum}}
        </div>
        <div class="col">
            Gender
        </div>
        <div class="col">
            <select id="gender" name="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="0">Prefer not to say</option>
            </select>
        </div>
        <div class="col">
            Birthdate
        </div>
        <div class="col">
            <input type="date" id="birthdate" name="birthdate" value="2022-10-16" min="2001-01-01" max="2100-01-01">
        </div>
        <div class="col">
            E-mail
        </div>
        <div class="col">
            {{form.email}}
        </div>
        <div class="col">
            Password
        </div>
        <div class="col">
            {{form.password}}
        </div>
    </div>
    <p></p>
    <button>Submit</button>
</form>
