<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student's home page</title>
        <meta name="description" content="Welcome to the students' homepage.">
        <meta name="viewport" content="width=device-width, initial'scale=1">
        <link rel="stylesheet" href="../css/tables.css">
    </head>
    <body>
        {% include 'partials/_control_pannel.html'%}
        <style>
            table, th, td {
              border:1px solid black;
            }
        </style>
        <h1>Student's homepage</h1>
        <table>
            <tr>
                {% for var in course_data %}
                <div>
                    <tr>{{var.course.coursenumber}} </tr>
                    <tr>{{var.course.parallel}}</tr>
                </div>
                <div>
                    <tr>{{var.course.subject.name}} - </tr>
                    <tr>{{var.course.teacher.name}}</tr>
                </div>
                <div>
                    <a href="{% url 'getChallengesStudents'%}?course={{var.course.id}} ">See available challenges</a>
                </div>
                <div>
                    <a href="{% url 'getGradesStudents'%}?course={{var.course.id}} ">See grades for the challenges in this course</a>
                </div>
                </br>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>