<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student's home page</title>
        <meta name="description" content="Welcome to the students' homepage.">
        <meta name="viewport" content="width=device-width, initial'scale=1">
    </head>
    <body>
        {% include 'partials/_control_pannel.html'%}

        <h1>Student's homepage</h1>
        <ul>
            {% for var in context %}
                <li>{{ var.subject }}</li>
            {% endfor %}
        </ul>
    </body>
</html>