<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
        <title>Teacher's home page</title>
        <meta name="description" content="Welcome to the teachers' homepage.">
        <meta name="viewport" content="width=device-width, initial'scale=1">
        <link rel="stylesheet" href="../css/tables.css">
    </head>

    <body>
        {% include 'partials/_control_pannel.html'%}
        <style>
            table, th, td {
              border:1px solid black;
            }
        </style>
        <h1>Teacher's homepage</h1>
        <table>
                {% csrf_token %}
                <tr>
                    {% for var in teacher_course_data %}
                            <tr>
                                <td>
                                    <p>{{var.coursenumber}} {{var.parallel}}</p>
                                </td>
                                <td>{{var.subject.name}}</td>
                                <td>
                                    <a href="{% url 'getChallengesTeachers' %}?course={{var.id}}">See available challenges</a>
                                </td>
                                <td>
                                    <a href="{% url 'getSolutions' %}?course={{var.id}}">View submitted solutions</a>
                                </td>
                            </tr>

                    {% endfor %}
                </tr>
        </table>
        

    </body>
</html>