{% load static %}

<html>
    <head>
        <title>Teachers at William Caxton College</title>
    </head>
    <body>
        <table>
            <tr>
                <td><strong>Name</strong></td>
                <td><strong>School ID</strong></td>
                <td><strong>Personal ID</strong></td>
            </tr>
            {%for teacher in teachers%}
            <tr>
                <td>{{teacher.name}}</td>
                <td>{{teacher.schoolid}}</td>
                <td>{{teacher.personalid}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>

</html>