<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta hhtp-equiv="X-UA-Compatible" content="IE=edge">
        <title>View challenges</title>
        <meta name="description" content="View all challenges available.">
        <meta name="viewport" content="width=device-width, initial'scale=1">
        <link rel="stylesheet" href="../css/tables.css">
    </head>
    <body>
        {% include 'partials/_control_pannel.html'%}
        <table>
            <tr>
                <th>Course</th>
                <th>Parallel</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
            <tr>
                {% for var in challenge_info %}
                <tr>
                    <td>{{var.course.coursenumber}} </td>
                    <td>{{var.course.parallel}}</td>
                    <td>{{var.title}} </td>
                    <td>{{var.description}}</td>
                    <td>
                        {% if var.id in completed_challenges %}
                            <a href="{% url 'getSolutionsStudent' %}?challenge={{ var.id }}">
                                <button>View solution</button>
                            </a>
                        {% else %}
                            <a href="{% url 'addSolution' %}?challenge={{ var.id }}">
                                <button>Add solution</button>
                            </a>
                        {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
                
            </tr>
        </table>
        </br>
        <div>
            <a href="{% url 'Student home page' %}"><button>Return to main page</button></a>
        </div>
    </body>
</html>