{% load static %}

<html>
    <dl>
        <table>
            <tr>
                <td>
                    <h3>Eduware</h3>
                </td>
                <td>
                    <p>{{ request.user }}</p>
                </td>
                <style>
                    table, th, td {
                      border:1px solid black;
                    }
                </style>
                <td>
                    {% csrf_token %}
                <a href="{% url 'logout' %}"><button>Log out</a></button>
                </td>
            </tr>
        </table>
        
    </dl>
</html>